body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* manrope-regular - latin */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../public/font/Manrope-Regular.woff2'); /* IE9 Compat Modes */
  src: local('Manrope-Regular'),
       
       url('../public/font/Manrope-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../public/font/Manrope-Bold.woff2') format('woff'), /* Modern Browsers */
      
}