.signup{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.right{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.right>h1{
    margin-top: 70px;
}
.flname>input{
    width: 205px;
    height: 56px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0;
    margin-top: 24px;
    padding-left: 10px;
}

.tc{
    width: 427px;
    height: 42px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* or 21px */
    
    align-items: center;
    letter-spacing: 0.2px;
    
    /* Greyscale/600 */
    
    color: #718096;
    margin-top: 24px;
}
.bolder{
    color: black;
    font-weight: bolder;
}